{:paths ["src"]
 :deps {io.github.nextjournal/clerk {:mvn/version "0.6.387"}}
 :aliases {:nextjournal/clerk {:exec-fn nextjournal.clerk/build-static-app!
                               :exec-args {:bundle? false
                                           :paths ["src/nextjournal/garden/ui/builder.clj"]}}}}
